@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 130px;
}

.container {
  margin: 20px 40px 40px 20px;
  background-color: #ff8000;
  display: flex;
  justify-content: center;
  border: 25px solid saddlebrown;
  box-shadow: 20px 20px brown;
  border-radius: 50px;
}

.image {
  height: 700px;
  max-width: 1700px;
  border-radius: 50px;
  border: 10px solid brown;
  box-shadow: 15px 15px saddlebrown;
}

.gif {
  width: 960px;
  height: 800px;
  border-radius: 50px;
}

.button-hp {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 60px;
  background-color: chartreuse;
  font-size: 47px;
  box-shadow: 15px 15px green;
  border-radius: 50px;
  border: 10px solid black;
}

.form-button {
  padding: 20px;
  background-color: chartreuse;
  font-size: 47px;
  box-shadow: 15px 15px green;
  border-radius: 50px;
  border: 10px solid black;
}

.home-button {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: chartreuse;
  font-size: 47px;
  box-shadow: 15px 15px green;
  border-radius: 50px;
  border: 10px solid black;
}

.entry-div {
  height: 1000px;
  display: flex;
  align-items: center;
}

.match-gif {
  margin-top: 20px;
  border-radius: 50px;
  border: 5px solid black;
  box-shadow: 15px 15px grey;
}