@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container {
  background-color: #ff8000;
  display: flex;
  justify-content: center;
  border: 25px solid saddlebrown;
  box-shadow: 20px 20px brown;
}

.entry-div {
  height: 1000px;
  display: flex;
  align-items: center;
}
