@font-face {
    font-family: 'TheOffice';
    src: url('StaffMeetingPlain.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'TheOffice', sans-serif;
}

button {
    font-family: 'TheOffice', sans-serif;
}

input {
    font-family: 'TheOffice', sans-serif;
    padding: 35px 150px;
    border-radius: 50px;
    margin-right: 150px;
    font-size: 35px;
}